server {
    listen 80;
    server_name {{ server_name }};  # Utilise la variable définie

    location / {
        proxy_pass http://localhost:{{ app_port }};  # Redirige vers l'application en utilisant le port défini
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
